<div class="panel-heading">
    Front-end
</div>
<div class="panel-body">
    <p><a href="http://edurio.mywebapp.lv" target="_blank">Working example</a></p>
    <p><a href="https://jrullis@bitbucket.org/janisrullis/edurio-frontend.git" target="_blank">Repository</a></p>
</div>
<div class="panel-heading">
    Back-end
</div>
<div class="panel-body">
    <p><a href="http://backend.edurio.mywebapp.lv" target="_blank">Working example</a></p>
    <p><a href="https://jrullis@bitbucket.org/janisrullis/edurio-backend.git" target="_blank">Repository</a></p>
</div>