<div style="margin-top: 125px;">
	<!-- Push Footer -->
</div>
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 28px;">
			Copyright &copy; Janis Rullis 2016
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
