<div class="panel-heading">
	List of dogs
</div>
<div class="panel-body" v-if="$loadingRouteData">
	Loading data {{ loadingRouteData }}
</div>
<div class="panel-body" v-if="messages.length > 0">
	<div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
		{{ message.message }}
	</div>
</div>

<div class="panel-body" v-if="dogs.length == 0">
	You have no dogs!
</div>

<table class="table" v-if=" ! $loadingRouteData && dogs.length > 0">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
                        <th>Code</th>
                        <th>Color</th>
			<th>Age</th>
			<th width="120px">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="dog in dogs">
			<td>{{ dog.id }}</td>
                        <td>{{ dog.code }}</td>
                        <td>{{ dog.color }}</td>
			<td>{{ dog.name }}</td>
			<td>{{ dog.age }}</td>
			<td>
				<a class="btn btn-primary btn-xs" v-link="{ path: '/dogs/'+dog.id }">Edit</a>
				<a class="btn btn-primary btn-xs" v-on:click="deleteDog($index)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>