<div class="panel-heading">
    Make a user!
</div>
<div class="panel-body">
    <div id="alerts" v-if="messages.length > 0">
        <div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
            {{ message.message }}
        </div>
    </div>
    <form class="form-horizontal" role="form" v-on:submit="createUser">
        <div class="form-group">
            <label for="name" class="col-sm-2 col-sm-offset-1 control-label">Name</label>
            <div class="col-sm-5">
                <input class="form-control" required="required" name="name" type="text" v-model="user.name" id="nameInput">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 col-sm-offset-1 control-label">Email</label>
            <div class="col-sm-5">
                <input class="form-control" required="required" name="email" type="email" v-model="user.email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 col-sm-offset-1 control-label">Password</label>
            <div class="col-sm-5">
                <input class="form-control" required="required" name="password" type="password" v-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <label for="password_confirmation" class="col-sm-2 col-sm-offset-1 control-label">Password confirmation</label>
            <div class="col-sm-5">
                <input class="form-control" required="required" name="password_confirmation" type="password" v-model="user.password_confirmation">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary" :disabled="creating">
                    <i class="fa fa-btn fa-save"></i>Make the user!
                </button>
            </div>
        </div>
    </form>
</div>