<nav-component></nav-component>
<div class="container app-screen">
    <!-- Tabs -->
    <div class="col-md-3">
        <div class="panel panel-default panel-flush">
            <div class="panel-heading">
                Dogs!
            </div>
            <div class="panel-body">
                <div class="app-tabs">
                    <ul class="nav app-tabs-stacked">
                        <li>
                            <a v-link="{ path: '/dogs' }">
                                <i class="fa fa-btn fa-fw fa-list"></i>&nbsp;Dog list</span>
                            </a>
                        </li>
                        </li>
                        <li>
                            <a v-link="{ path: '/dogs/create' }">
                                <i class="fa fa-btn fa-fw fa-heart"></i>&nbsp;Create one</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.dropbox.com/s/y64vr18omckp0gz/dogs.xlsx?dl=1">
                                <i class="fa fa-btn fa-fw fa-download"></i>&nbsp;Download Excel</span>
                            </a>
                        </li>
                        <li>
                            <!-- <a v-link="{ path: '/dogs/import' }"> -->
                            <a href="javascript:;" onclick="document.getElementById('excelImport').click();">
                                <i class="fa fa-btn fa-fw fa-upload"></i>&nbsp;Import from Excel</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form method="post" style="display: none;" id="excelForm" enctype="multipart/form-data" role="form">
        <input type="file" value="dog_import" name="dog_import" id="excelImport" v-on:change="importDogs" /> <!--  v-model="excel_import" -->
    </form>
    <!-- Tab Panes -->
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane">
                <div class="panel panel-default">
                    <div id="alerts" v-if="messages.length > 0">
                        <div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
                            {{ message.message }}
                        </div>
                    </div>
                    <div v-else>
                    </div>
                    <router-view></router-view>
                </div>
            </div><!-- End tab panel -->
        </div><!-- End tab content -->
    </div><!-- End tab panes col-md-9 -->
</div><!-- End container -->
<footer-component></footer-component>
