<div class="panel-heading">
    Sign in to your account
</div>
<div class="panel-body">
    <form class="form-horizontal" role="form" v-on:submit="attempt">

		<div id="alerts" v-if="messages.length > 0">
			<div v-for="message in messages" class="alert alert-{{ message.type }} alert-dismissible" role="alert">
				{{ message.message }}
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label">E-Mail Address</label>
			<div class="col-md-6">
				<input type="email" class="form-control" v-model="user.email">
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label">Password</label>
			<div class="col-md-6">
				<input type="password" class="form-control" v-model="user.password">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-6 col-md-offset-4">
				<button type="submit" class="btn btn-primary" :disabled="loggingIn">
					<i class="fa fa-btn fa-sign-in"></i>Login
				</button>
			</div>
		</div>
	</form>
</div>
